doctype html
html
  head
    title Sign In
    link(rel='stylesheet', href='/css/style.css')
  body(class='min-h-screen flex')

    //- Left Side - Image
    div(class='w-1/2 min-h-full bg-cover bg-center' style="background-image: url('/images/category/category-3d34fa38-75fa-4031-af02-db82d108ae0e.jpeg');")

    //- Right Side - Form
    div(class='w-1/2 flex items-center justify-center bg-white')
      div(class='w-full max-w-md p-8')
        block form
