extends ../layout.pug

block content
  //- Form Container
  div(class='w-full max-w-3xl bg-white shadow-md rounded-lg p-6')
    h1(class='text-2xl font-bold mb-4') Update Category

    form(method='post' enctype='multipart/form-data')
      //- Category Title
      div(class='mb-4')
        label(for='title' class='block text-gray-700 font-bold mb-2') Title
        input(type='text', id='title', name='title', required, value=category.title, class='w-full p-2 border border-gray-300 rounded')

      //- Category Image
      div(class='mb-4')
        label(for='image' class='block text-gray-700 font-bold mb-2') Category Image
        input(type='file', id='image', name='image', accept='image/*', class='w-full p-2 border border-gray-300 rounded')
        //- Show the existing image
        if category.image
          div(class='mt-2')
            img(src=category.image alt=category.title class='w-16 h-16 object-cover rounded-lg')

      //- Description
      div(class='mb-4')
        label(for='description' class='block text-gray-700 font-bold mb-2') Description
        textarea(id='description', name='description', rows='4', required, class='w-full p-2 border border-gray-300 rounded')= category.description

      //- Submit Button
      div(class='flex justify-end')
        button(type='submit', class='bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600') Update
